

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    vertical-align: middle ;
}
#button {
    background-color: #ab3333;
    color: white;
    padding: 10px 40px; 
    border: solid 3px ;
    cursor: pointer;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid #000;
}
.conteneur{
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle ;
    border: 3px solid #ab3333;
    border-radius: 30px;
    height: 300px; 
    width: 300px; 
    padding: 20px;
}
form{
    display: block ;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}
form input{
margin-bottom: 40px;
}

.conn {
    margin: auto;
    text-align: center;
}
