header {
    display: flex;
    background-color: #F9F9F9;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid #ab3333;
    border-radius: 30px;
    font-size: large;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
padding-left: 60px;
}
.headRight{
    display: flex;
    align-items: center;
    padding-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;

}

.upscale:hover {
    transform: scale(1.2);

}
.elem{
    text-decoration: none;
    color: #ab3333;
    font-weight: bold;
}
.elem:hover {
    cursor: pointer;
    color: #fff;
    filter: grayscale(100%) brightness(0%);
}
.logo{
    justify-self: flex-start;
}
.menu{
    justify-self: center;
}




.connect {
    justify-content: flex-end;
    display: flex;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.connect a {
    display: flex;
    align-items: center; 
    color: #ab3333;
}
.connect:hover {
    transform: scale(1.2);
}
.connect a:hover {
    cursor: pointer;
    color: #fff;
    filter: grayscale(100%) brightness(0%);
}
.user {
    max-width: 30%;
    align-self: center;
}
.panier {
    max-width: 25%;
    align-self: center;
    margin-right: 10px;
    margin-left: 3px;
}